<h1>Clothin Item</h1>
</br>
<div>
  <img id="clothingImage"
  src="https://img.icons8.com/carbon-copy/2x/clothes.png"
  width="128" height="128">
  <h2>Clothing Description</h2>
  {{clothing.name}}
  {{clothing.price}}
  {{clothing.size}}
  {{clothing.gender}}
</div>
</br>
