<link rel="stylesheet" href="client_style_customer.css">

<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog">Catalog</a>
    <a href="/services">Services</a>
    <a href="/customer"><b>Customer Portal</b></a>
  </div>
</nav>

<br>
<h2>Customer Portal</h2>

<form action="/customer" method="POST">
  <input type="submit" name="Edit Profile" value="Edit Profile">
</form>

<br>

<h5>Order History</h5>
<!-- TODO: create AJAX to populate tables based on buttons pressed -->
<button>Pending Orders</button>
<button>Completed Orders</button>

<br><br>

<h5>Service History</h5>
<button>Pending Services & Repairs</button>
<button>Completed Services & Repairs</button>

<br><br>

<h5>Pending Orders</h5>
<table>
  <thead>
    <td>Order Number</td>
    <td>Order Date</td>
    <td>Expedite?</td>
    <td>Pickup or Ship?</td>
    <td>Cancel Order</td>
  </thead>
  <tbody>
    <tr>
      <td>1234</td>
      <td>1/1/2021</td>
      <td>Yes</td>
      <td>Ship</td>
      <td><button>Cancel</button></td>
    </tr>
  </tbody>
</table>