<link rel="stylesheet" href="client_style_services.css">

<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog">Catalog</a>
    <a href="/services">Services</a>
    <a href="/customer"><b>Customer Portal</b></a>
  </div>
</nav>

<br>
<h2>Customer Portal</h2>

<form action="/customer" method="POST">
  <input type="submit" name="Edit Profile" value="Edit Profile">
</form>

<br>

<h5>Order History</h5>
<!-- TODO: create AJAX to populate tables based on buttons pressed -->
<button>Pending Orders</button>
<button>Completed Orders</button>

<br><br>

<h5>Service History</h5>
<button>Pending Services & Repairs</button>
<button>Completed Services & Repairs</button>