<h1>Gear Item</h1>
</br>
<div>
  <img id="gearImage"
  src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.iconfinder.com%2Ficons%2F995610%2Fgear_icon&psig=AOvVaw18hejPJJAwjiVOWLoqyUYx&ust=1612322058232000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiSyu6dyu4CFQAAAAAdAAAAABAD"
  width="128" height="128">
  <h2>Gear Description</h2>
  {{gear.name}}
  {{gear.price}}
</div>
</br>

