<h1 id="homepageHeader">Beave's Bikes</h1>
</br>
<div class="slideshow">
  <img src="https://www.beaversports.com/wp-content/uploads/2017/07/agressivebeaver-197x300.png" style="width:100%">
</div>
</br>
