<link rel="stylesheet" href="client_style_home.css">

<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/"><b>Home</b></a>
    <a href="/catalog">Catalog</a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
  </div>
</nav>

<div class='row' id="pictures">
		<img class='col-4' src="pictures/homepage/image1.jpg">
		<img class='col-4' src="pictures/homepage/image2.jpg">
		<img class='col-4' src="pictures/homepage/image3.jpg">
	</div>

<div id="aboutContentContainer">
    <div class='row'>
        <div class='col-4 aboutContent'>
            <h3>About</h3>
            <br>
            <p>Beave's Bikes has been selling bikes, clothing, gear and parts for over 20 years, right here in beautiful Corvallis! We also provide a number of maintenance and repair services, carried out by our experienced bike techs. If you're looking for good gear, good people, and a good price, you've come to the right place!
            </p>
        </div>
        <div class='col-4 aboutContent'>
            <h3>Store location & Hours</h3>
            <br>
            <span>123 abc street</span> <br>
            <span>Corvallis, OR 97331</span>
            <br><br>
            <span>Mon-Sat: 9-6pm</span><br>
            <span>Sun: 10-4pm</span>
        </div>
        <div class='col-4 aboutContent'>
            <h3>Contact Info</h3>
            <br>
            <span>Phone Number: (541)-123-1234</span><br>
            <span>support@beavesbikes.com</span>
        </div>
    </div>
</div>

<script type="text/javascript" src="client_script_home.js"></script>

