<div id="header">
  <h1>Beave's Bikes</h1>
</div>

<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/bicycles">Bicycles</a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
    <a href="/admin"><b>Admin</b></a>
  </div>
</nav>

<form action="" method="POST">
    <label for="adminPassword">admin password: </label>
    <input type="password" id="adminPassword" name="adminPassword">
    <input type="submit" value="Submit">
</form>

<span>hint: 1234</span>
