<div id="header">
  <h1>Beave's Bikes</h1>
</div>

<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/bicycles">Bicycles</a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
    <a href="/admin"><b>Admin</b></a>
  </div>
</nav>

<h4>Customer Search</h4>
<form method="GET" id="customerSearch" action="/admin">
    <label for="fname">First Name:</label>
    <input type="text" name="fname" id="fname">
    <label for="lname">Last Name:</label>
    <input type="text" name="lname" id="lname"><br>
    <label for="phone">Phone number:</label>
    <input type="text" name="phone" id="phone">
    <input type="submit" name="searchCustomer" value="Search">
</form><br>

<h4>Add New Bike</h4>
<form method="POST" id="bikeInsert" action="/admin">
    <label for="bikeMake">Make:</label>
    <input type="text" name="make" id="bikeMake">
    <label for="bikeModel">Model:</label>
    <input type="text" name="model" id="bikeModel"><br>
    <label for="bikeSize">Size:</label>
    <input type="text" name="size" id="bikeSize">
    <label for="bikeType">Type:</label>
    <select name="type" id="bikeType">
        <option value="R">Road Bike</option>
        <option value="M">Mountain Bike</option>
    </select><br>
    <label for="bikeColor">Color:</label>
    <input type="text" name="color" id="bikeColor">
    <input type="submit" name="addBike" value="Add">
</form><br>

-->
<h4>Add New Service:</h4>
<form method="POST" id="serviceInsert" action="/admin">
    <label for="serviceName">Name:</label>
    <input type="text" name="serviceName" id="serviceName">
    <label for="expected_turnaround">Expected_turnaround:</label>
    <input type="text" name="expected_turnaround" id="expected_turnaround">
    <label for="servicePrice">Price:</label>
    <input type="text" name="servicePrice" id="servicePrice">
    <input type="submit" name="addService" value="Add">
</form><br>


<h4>Update Repair Request Item:</h4>
<form method="POST" id="updateOrderItem" action="/admin">
    <label for="repair_id">Repair ID:</label>
    <input type="text" name="repair_id" id="repair_id">
    <label for="service_id">Service ID:</label>
    <input type="text" name="service_id" id="service_id">
    <input type="submit" name="repairComplete" value="Complete">
</form><br>

<h4>Update Bike</h4>
<form method="POST" id="updateBike" action="/admin">
    <label for="updateBikeId">Update by Catalog Num:</label>
    <input type="text" name="catalog_id" id="updateBikeId"><button>Search</button><br> 
    <label for="updateBikeMake">Make:</label>
    <input type="text" name="make" id="updateBikeMake">
    <label for="updateBikeModel">Model:</label>
    <input type="text" name="model" id="updateBikeModel"><br>
    <label for="updateBikeSize">Size:</label>
    <input type="text" name="size" id="updateBikeSize">
    <label for="updateBikeType">Type:</label>
    <select name="type" id="updateBikeType">
        <option value="road">Road Bike</option>
        <option value="mountain">Mountain Bike</option>
    </select><br>
    <label for="updateBikeColor">Color:</label>
    <input type="text" name="color" id="updateBikeColor">
    <input type="submit" name="updateBike" value="Update">
</form><br>

