<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog"><b>Catalog</b></a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
  </div>
  <div id="subNavBar">
    <a href="/bicycles">bicycles</a>
    <a href="/gear"><b>gear</b></a>
    <a href="/clothing">clothing</a>
  </div>
</nav>

</br>

<h4>Filter by</h4>
<form action="">
  name:
  <input type="text">
  <input type="submit" name='searchGear' value="Search">
</form>

<div class='row'>
  {{#if gear}}
      {{#each gear}}
      <div class='col-4'>
          <img id="gearImage"
          src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.iconfinder.com%2Ficons%2F995610%2Fgear_icon&psig=AOvVaw18hejPJJAwjiVOWLoqyUYx&ust=1612322058232000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiSyu6dyu4CFQAAAAAdAAAAABAD"
          width="128" height="128">
          <span>${{this.price}}</span>
          <span>{{this.name}}</span>
      </div>
      {{/each}}
  {{/if}}
</div>