<link rel="stylesheet" href="client_style_catalogItem.css">
<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog"><b>Catalog</b></a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
    <a href="/cart">Cart</a>
    <a href="/admin">Admin</a>
  </div>
  <div id="subNavBar">
    <a href="/bicycles">Bicycles</a>
    <a href="/gear">Gear</a>
    <a href="/clothing"><b>Clothing</b></a>
  </div>
</nav>

</br>

<h4>Filter by</h4>
<form action="">
  Size:
  <select name="size" id="sizeFilter">
    <option value="XL">Extra Large</option>
    <option value="L">Large</option>
    <option value="M">Medium</option>
    <option value="S">Small</option>
  </select>
  Gender:
  <select name="size" id="genderFilter">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <input type="submit" name="searchClothes" value='Search'>
</form>

<div class='row'>
  {{#if clothing}}
      {{#each clothing}}
      <div class='col-4'>
          <img id="clothingImage"
          src="https://img.icons8.com/carbon-copy/2x/clothes.png"
          width="128" height="128"
          onclick ="javascript:window.location='./clothingItem';">
          </br>
          <span>{{this.name}}&emsp;</span>
          </br>
          <span>Size:{{this.size}}</span>
          </br>
          <span>Price: ${{this.price}}</span>
      </div>
      {{/each}}
  {{/if}}
</div>
