<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog"><b>Catalog</b></a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
  </div>
</nav>

</br>

<button type="button">Bikes&ensp;</button>
<button type="button">Parts&ensp;</button>
<button type="button">Clothing/Gear&ensp;</button>
</br>

<table>
  <tr>
    <td>
    <div>
        <img
        src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
        width="128" height="128">
    </div>
    Product Name
    </br>
    Product Price
    </br>
    <button type="button">Add to Basket</button>
    </td>
    <td>
    <div>
        <img
        src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
        width="128" height="128">
    </div>
    Product Name
    </br>
    Product Price
    </br>
    <button type="button">Add to Basket</button>
    </td>
    <td>
    <div>
        <img
        src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
        width="128" height="128">
    </div>
    Product Name
    </br>
    Product Price
    </br>
    <button type="button">Add to Basket</button>
    </td>
    <td>
    <div>
        <img
        src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
        width="128" height="128">
    </div>
    Product Name
    </br>
    Product Price
    </br>
    <button type="button">Add to Basket</button>
    </td>
    <td>
    <div>
        <img
        src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
        width="128" height="128">
    </div>
    Product Name
    </br>
    Product Price
    </br>
    <button type="button">Add to Basket</button>
    </td>
  </tr>

  <tr>
    <td>
    <div>
        <img
        src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
        width="128" height="128">
    </div>
    Product Name
    </br>
    Product Price
    </br>
    <button type="button">Add to Basket</button>
    </td>
    <td>
    <div>
        <img
        src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
        width="128" height="128">
    </div>
    Product Name
    </br>
    Product Price
    </br>
    <button type="button">Add to Basket</button>
    </td>
    <td>
    <div>
        <img
        src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
        width="128" height="128">
    </div>
    Product Name
    </br>
    Product Price
    </br>
    <button type="button">Add to Basket</button>
    </td>
    <td>
    <div>
        <img
        src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
        width="128" height="128">
    </div>
    Product Name
    </br>
    Product Price
    </br>
    <button type="button">Add to Basket</button>
    </td>
    <td>
    <div>
        <img
        src="https://cdn.iconscout.com/icon/free/png-256/bicycle-1498113-1268563.png"
        width="128" height="128">
    </div>
    Product Name
    </br>
    Product Price
    </br>
    <button type="button">Add to Basket</button>
    </td>
  </tr>

</table>

