<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog"><b>Catalog</b></a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
  </div>
  <div id="subNavBar">
    <a href="/bicycles">Bicycles</a>
    <a href="/gear"><b>Gear</b></a>
    <a href="/clothing">Clothing</a>
  </div>
</nav>

</br>

<h4>Filter by</h4>
<form action="">
  Product Name:
  <input type="text">
  <input type="submit" name='searchGear' value="Search">
</form>

</br>

<div class='row'>
  {{#if gear}}
      {{#each gear}}
      <div class='col-4'>
          <img id="gearImage"
          src ="pictures/productpage/gearIcon.png"
          width="128" height="128"
          onclick ="javascript:window.location='./gearItem';">
          </br>
          <span>{{this.name}}&emsp;</span>
          </br>
          <span>Price: ${{this.price}}</span>
      </div>
      {{/each}}
  {{/if}}
</div>
