<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog"><b>Catalog</b></a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
    <a href="/cart">Cart</a>
    <a href="/admin">Admin</a>
  </div>
  <div id="subNavBar">
    <a href="/bicycles"><b>Bicycles</b></a>
    <a href="/gear">Gear</a>
    <a href="/clothing">Clothing</a>
  </div>
</nav>

</br>

<h4>Filter by</h4>
<form action="">
  Make:
  <select name="make" id="makeFilter">
    <option value="Schwinn">Schwinn</option>
    <option value="Raleigh">Raleigh</option>
  </select>
  Size:
  <select name="size" id="sizeFilter">
    <option value="XL">Extra Large</option>
    <option value="L">Large</option>
    <option value="M">Medium</option>
    <option value="S">Small</option>
  </select>
  Color:
  <select name="size" id="colorFilter">
    <option value="Red">Red</option>
    <option value="Blue">Blue</option>
  </select>
  Type:
  <select name="type" id="typeFilter">
    <option value="Road">Road</option>
    <option value="Mountain">Mountain</option>
  </select>
  <input type="submit" name='searchBicycles' value="Search">
</form>


<div class='row'>
  {{#if bikes}}
      {{#each bikes}}
      <div class='col-4'>
          <img id="bikeImage" src="/pictures/productpage/bikeIcon.png"
          onclick="javascript:window.location='./bikeItem';">
          </br>
          <span>{{this.make}}</span>
          <span>{{this.model}}&emsp;</span>
          </br>
          <span>Size: {{this.size}}</span>
          </br>
          <span>Price: ${{this.price}}</span>
      </div>
      {{/each}}
  {{/if}}
</div>
