<link rel="stylesheet" href="client_style_customer.css">

<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog">Catalog</a>
    <a href="/services">Services</a>
    <a href="/customer"><b>Customer Portal</b></a>
    <a href="/admin">Admin</a>
  </div>
</nav>

<br>
<h2>Customer Portal</h2>

{{#if message}} <h6>{{message}}</h6> {{/if}}

<h5>Hi {{fname}} {{lname}}!</h5>

<form action="/customer" method="POST">
  <input type="submit" name="Edit Profile" value="Edit Profile">
</form>

<br>

<h5>Customer History</h5>
<!-- orders not implemented
<button onclick="location.href='/order_history'">Order History</button> -->
<button onclick="location.href='/service_history'">Service History</button>


<script type='text/javascript' src='client_script_customer.js'></script>