<div id="header">
  <h1>Beave's Bikes</h1>
</div>


<nav id="navbar">
  <div>
    <a href="/">Home</a>
    <a href="/catalog">Catalog</a>
    <a href="/services">Services</a>
    <a href="/customer">Customer Portal</a>
    <a href="/cart"><b>Cart</b></a>
    <a href="/admin">Admin</a>
  </div>
  <div id="subNavBar">
    <a href="/bicycles">Bicycles</a>
    <a href="/gear">Gear</a>
    <a href="/clothing">Clothing</a>
  </div>
</nav>

<h1>Complete your order!</h1>
</br>
<h2>Payment and Shipping</h2>
</br>

<form method="POST">
  <span>Credit/Debit Card Number</span>
  </br>
  <input type="number" name="ccNum" id="ccNum">
  </br>
  </br>

  <span>Card Expiration Date</span>
  </br>
  <input type="date" name="ccDate" id="ccDate">
  </br>
  </br>

  <span>Credit/Debit Card Security Code</span>
  </br>
  <input type="number" name="ccSec" id="ccSec">
  </br>
  </br>

  <span>Ship the order?</span>
  </br>
  <input type="radio" name="shipOrder" id="shipYes" value="shipYes">
  <label for= "shipYes">Yes</label></br>
      <div class="reveal-if-active">
        <form action="POST">
          <span>Name</span>
          </br>
          <input type="text" name ="cName" id="cname">
        </form>
      </div>
  <input type="radio" name="shipOrder" id="shipNo" value="shipNo">
  <label for= "shipNo">No</label></br>
  </br>
  </br>
  
  <input type="submit" name="submitOrder" value="Submit Order"
</form>

<span> Order Total: ${{this.orderTotal}}</span>

