<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
	<title>Project Website</title>
</head>
<body>
<ul id="navLinksUl">
<li id="liLink"><a href="./">Home Page</a></li>
<li id="liLink"><a href="./catalog">Catalog</a></li>
<li id="liLink"><a href="./repairs">Repairs</a></li>
<li id="liLink"><a href="./portal">Portal</a></li>
<li id="liLink"><a href="./orders">Complete Order</a></li>
</ul>
	{{{body}}}
</body>
</html>
